/*
 * Globals
 */

@white: #ffffff;

@font-face {
  font-family: 'GothicProReg';
  src: url("../fonts/GothaProReg.otf") format("opentype");
}

 .h1, .h2, .h3, .h4, .h5, .h6  {
 	padding-top: 10px;
 	padding-bottom: 10px;
 }

 p {
  	padding-top: 10px;
 	padding-bottom: 10px;
 }



/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'GothicProReg', helvetica;
  color: #696d7d;
  line-height: 25px;
  margin-top: 0px !important;
}


.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(../img/bg.jpg);
   background: url(images/bg.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url(../img/white-overlay.png);
   background: url(images/bg.jpg) no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


.content {
	padding-top: 40px;
	padding-bottom: 40px;
}


.button-first,
.button-first:focus {
	background: #daeefa;
	border-radius: 0px;
	border: 1px solid #ffffff;
	color: #373f5b;
}

.button-first:hover {
  background: #daeefa;
  border-radius: 0px;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 5px #888888;
}

.button-first:active {
  background: #daeefa;
  border-radius: 0px;
  border: 1px solid #ffffff;
}

.button-second,
.button-second:focus {
	background: #373f5b;
	border-radius: 0px;
	border: 1px solid #ffffff;
  color: @white;
}

.button-second:hover {
  background: #373f5b;
  border-radius: 0px;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 5px #888888;
  color: @white;
}

.button-second:active {
  background: #373f5b;
  border-radius: 0px;
  border: 1px solid #ffffff;
  color: @white;
}

.plus {
	color: #c4b07d;
}

